#document-bounding-boxes-selector-template {
    margin: 30px 0;
    
    p {
        font-size: 30px;
    }
    ul {
        font-size: 20px;
        margin-left: 20px;
    }

    #btns {
        display: flex;
        justify-content: center;

        input:not(:last-child) {
            margin-right: 5px;
        }
    }

    form {
        display: none;
    }
}
