$blue-primary: #007BFF;
$blue-primary-hover: #3295ff;
$blue-secondary: #0151A5;

$green-primary: green;
$green-primary-hover: rgb(46, 175, 46);
$green-secondary: rgb(0, 87, 0);

$red-primary: #cd4535;
$red-primary-hover: #c13b2a;
$red-secondary: #B02818;

$transition: 200ms ease;