{% for imgUrl in imgs %}
    <a class="fancybox" href="{{ imgUrl }}" title="" alt="">
        <img src="{{ imgUrl }}" border="0" class="thumb" />
    </a>
{% endfor %}


<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").jqPhotoSwipe({
            galleryOpen: function (gallery) {
                //with `gallery` object you can access all methods and properties described here http://photoswipe.com/documentation/api.html
                //console.log(gallery)
                //console.log(gallery.currItem)
                //console.log(gallery.getCurrentIndex())
                //gallery.toggleDesktopZoom()
            },
        })
        $(".forcedgallery a").jqPhotoSwipe({
            forceSingleGallery: true,
        })
    })
</script>