@font-face {
  font-family: ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;

  font-family: ubuntu, sans-serif;
}

@import 'header';
@import 'inner-body';
